/*    start variables   */
:root {
  --main-color: #19c8fe;
  --transparent: rgba(15, 116, 143, 70%);
  --section-padding: 100px;
  --main-transition: 0.3s ease;
}
/*    end variables   */



/*    start global rules     */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Times New Roman', Times, serif;
}

/*     start containers       */
.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
 .container {
   width: 750px;
 }
}
@media (min-width: 992px) {
 .container {
   width: 970px;
 }
}
@media (min-width: 1200px) {
 .container {
   width: 1170px;
 }
}

/*     end containers       */

ul {
  list-style: none;
}

/*    end global rules     */


/*     start components       */
.main-headeng {
  text-align: center;
}
.main-headeng h2 {
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 70px;
  position: relative;
}
.main-headeng h2::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 200px;
  bottom: -30px;
  background-color: #000;
}
.main-headeng h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -38px;
  transform: translateX(-50%);
  height: 16px;
  width: 16px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
}
.main-headeng p {
  width: 550px;
  max-width: 100%;
  margin: 0 auto 100px;
  line-height: 2;
  color: #777;
}
/*     end components       */

/*    start    header      */
header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #a2a2a2;
}

header .logo img {
  width: 60px;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .toggle {
  color: #fff;
  font-size: 22px;
}
@media (min-width: 768px) {
  header nav .toggle {
    display: none;
  }
}
header nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header nav .toggle:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 50%)
  }
  header nav ul a {
    padding: 15px !important;
  }

}

header nav ul a {
  display: block;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  padding: 40px 10px;
  transition: var(--main-transition);
  position: relative;
  z-index: 2;
}

header nav ul a:hover, header nav ul a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

header nav .form {
  width: 40px;
  height: 30px;
  margin-left: 30px;
  position: relative;
  border-left: 1px solid #fff;
}

header nav .form i {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
}

/*    end   header      */


/*    start   landing      */
.landing {
  min-height: 100vh;
  background-color: #111541;
  background: url(../images/main.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 50%);
}

.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent);
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

.landing .text .content {
  max-width: 500px;
}
@media (max-width: 767px) {
 .landing .text {
   width: 100%;
 }
.landing .text .content {
  max-width: 100%;
}
}

.landing .text .content h2{
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing .text .content p {
  font-size: 14px;
  line-height: 1.6;
}

.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
@media (max-width: 767px) {
 .landing .change-background {
   display: none;
 }
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  display: flex;
}

.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 10px;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/*    end   landing      */


/*    start   services      */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .serv-box {
  display: flex;
}
.services .serv-box i {
  margin-right: 50px;
}
.services .serv-box h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.services .serv-box p {
  line-height: 2;
  color: #777;
}
@media (min-width:768px) {
 .services .serv-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
   grid-row-gap: 60px;
   grid-column-gab: 40px;
 }
}
@media (max-width:768px) {
  .services .serv-box {
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .serv-box i {
    margin: 0 0 30px;
  }
}

/*    end   services      */


/*    start    design       */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  position: relative;
  background: url("../images/ designb.jpg") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 50%);
}
.design .image, 
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .image {
  text-align: center;
  opacity: 0.8;
  transition: 0.3s ease
}
.design .image:hover {
  text-align: center;
  transform: 0.3s ease;
  transform: scale(1.1);
  opacity: 1;

}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
.design .image img{
  width: 20em;
}
.design .text{
  color: #fff;
  background-color: var(--transparent);
  padding: 30px;
}
.design .text h2 {
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.design .text ul li {
  padding: 15px 0;
}
.design .text ul li i {
  font-weight: 900;
  margin-right: 20px;
}
.design .text ul li:hover{
  color: var(--main-color);
}
/* .design .text ul li::before {
  font-family: 'Font Awsome 5 Free';
  content: '\f108';
}  */

/*    end   design       */


/*    start   portofolio       */
.portofolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.portofolio .shuffle{
  display: flex;
  justify-content: center;
}
.portofolio .shuffle li{
  padding: 10px;
}
.portofolio .shuffle li.active {
  background-color: var(--main-color);
  color: #fff;
}
.portofolio .images-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portofolio .images-container .img-box {
  position: relative;
  overflow: hidden;
}
.portofolio .images-container .img-box:hover .caption {
  bottom: 0;
}
.portofolio .images-container .img-box:hover img {
  transform: rotate(3deg) scale(1.1)
}
@media (min-width:768px){
  .portofolio .images-container .img-box {
     flex-basis: 50%
}

}
@media (min-width:1199px){
  .portofolio .images-container .img-box {
    flex-basis: 25%;
}

}
.portofolio .images-container .img-box img {
  width: 100%;
  transition: 0.3s ease;
}
.portofolio .images-container .img-box .caption {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 15px;
  transition: 0.3s ease;
  bottom: -100%;
}

.portofolio .images-container .img-box .caption h4 {
  font-weight: bold;
  margin-bottom: 10px
}
.portofolio .images-container .img-box .caption p {
  color: var(--main-color);
}
.portofolio .more {
  background-color: var(--main-color);
  color: #fff;
  display: block;
  padding: 15px 20px;
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  margin: 30px auto;
  
}
/*    end   portofolio       */
